<!DOCTYPE html> <!--La etiqueta define que se usará HTML 5-->
<html>
    <head>
        <title>Mi Primera Página web</title>
        <meta charset = "UTF-8">
    </head>
    <body>
        <h1>Hola Mundo</h1>
        <h2>Hola Mundo</h2>
        <p><!-- Etiqueta para parrafo-->
            <!-- El "Lorem ipsum" es texto de relleno-->
            Lorem ipsum dolor<br>
            sit amet consectetur adipisicing elit. Pariatur aliquid dolorem praesentium dolores suscipit quo qui excepturi sequi, voluptatibus autem quasi a similique, quas repellendus eos culpa quam fugiat? Facere.
        </p>
        <p>
            Esto es una prueba
        </p>
        <img src = "https://www.abc.com.py/resizer/v2/L5KTZNPZI5D7HEGBMF335RC3MM.jpg?auth=baebcca6130a59d885ac1b8aa2668d7a7df7f7293c8554cd78b96e95a3e31500&width=770&smart=true" width = "500px"><!--jpn, png, sv, gif-->
        <br>
        <a href = "https://es.wikipedia.org/wiki/Gato_calic%C3%B3" target = "-blank">Entrada de Wikipedia</a> <!--Anchor, hipervínculo-->
    </body>
</html>