<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Plantas!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
  </head>
  <body class="has-background-danger-95">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="title p-3">Laboratorio 10</h1>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/plantas/agregar" class="navbar-item button is-danger">
            Gallery
          </a>
          <a href="/plantas/agregar" class="navbar-item"> ADD </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title">Invernadero</h1>
      </div>
    </section>
  </body>
</html>