body{
    background-image: url("https://wallpapers.com/images/hd/cute-cat-pattern-f52pyd5y7y9wk46z.jpg");
    background-size: 25%;
    text-align: justify;
    font-family: Helvetica;
}

#wrapper{
    width: 900px;
    margin: 0 auto;
    background-color: #FDFFD6;
    min-height: 100px;
    padding: 50px 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

img{
    width: 100%;
}

table {
    width: 100%;
}

footer {
    width: 900px;
    margin: 0 auto;
    background-color: #c3f6ff;
    min-height: 100px;
    padding: 25px 50px 0px;
}