<%- include('includes/_header') %>

<div class="columns">
<% for(let planta of plantas) { %>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
<<<<<<< HEAD
                    <%= planta %>
=======
                    <%= planta.nombre %>
>>>>>>> Lab13
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>

<%- include('includes/_footer') %>