body {
  background-image: url("https://media.istockphoto.com/id/1341990823/es/vector/patr%C3%B3n-sin-costuras-del-d%C3%ADa-de-los-muertos-con-scull-y-cal%C3%A9ndula.jpg?s=612x612&w=0&k=20&c=8WxHeUiI5ISCm-C-3E-zitoIarI0eq6Sza40j0hqm5A=");
  background-size: 25%;
  text-align: justify;
  font-family: Helvetica;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
  background-color: #bf96b6;
  min-height: 100px;
  padding: 50px 50px;
}
